.wn {
  &-container {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    height: 100vh;
    background-color: $primary;
  }

  &-header {
    padding: 15px 0;
    text-align: center;

    &__title {
      font-size: 3em;
      color: $secondary;
    }
  }

  &-filter {
    width: 100%;
    max-width: 450px;
    margin: 10px auto;

    &__form {
      display: flex;
      flex-direction: column;

      &-field {
        width: 100%;
        height: 40px;
        padding: 0 10px;
        margin-bottom: 5px;
        border-radius: 2px;
        font-size: 1.6em;
        color: $primary;
        background-color: #fff;

        &--button {
          color: $secondary;
          border: 1px solid $secondary;
          font-weight: bold;
          cursor: pointer;
          transition: all 0.25s;
          background-color: $primary;

          &:hover {
            color: $primary;
            background-color: $secondary;
          }
        }
      }
    }

    &__awesomplete-container {
      .awesomplete {
        width: 100%;

        mark {
          background: #99bdc9;
        }

        > ul {
          box-shadow: 0;
          border: 0;

          > li {
            padding: 0.5em 0.5em;
            font-size: 1.25em;

            &:hover {
              mark {
                background: #99bdc9;
              }
            }
          }
        }
      }

      #mylist {
        display: none;
      }
    }
  }

  &-weather {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;

    &__favorite {
      font-size: 3em;
      color: $secondary;
      margin-right: 10px;
      cursor: pointer;
      opacity: 0.4;
      transition: opacity 0.25s;

      &--active,
      &:hover {
        opacity: 1;
      }
    }

    &__location,
    &__description {
      color: $secondary;
    }

    &__location {
      font-size: 2em;
    }

    &__description {
      font-size: 1.6em;
    }

    &__location-info {
      margin-right: 1.5em;
    }

    &__temperature {
      display: flex;
      align-items: center;

      &-icon {
        font-size: 6em;
        color: $secondary;
        margin-right: 0.2em;
      }

      &-value {
        font-size: 3em;
        color: $secondary;

        &--celcius:after {
          content: '\00b0' 'C';
          font-size: 0.6em;
          margin-left: 2px;
        }
      }
    }
  }

  &-chart {
    width: 100%;
    margin: 20px auto;
    max-width: 550px;
  }
}
