$weatherFontIconsURL: 'https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/font/';
$weatherIconsEot: '#{$weatherFontIconsURL}weathericons-regular-webfont.eot';
$weatherIconsWoff: '#{$weatherFontIconsURL}weathericons-regular-webfont.woff';
$weatherIconsWoff2: '#{$weatherFontIconsURL}weathericons-regular-webfont.woff2';
$weatherIconsTtf: '#{$weatherFontIconsURL}weathericons-regular-webfont.ttf';

@font-face {
  font-family: 'weathericons';
  src: url('#{$weatherIconsEot}'); /* IE9 Compat Modes */
  src: url('#{$weatherIconsEot}?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('#{$weatherIconsWoff2}') format('woff2'),
    /* Super Modern Browsers */ url('#{$weatherIconsWoff}') format('woff'),
    /* Pretty Modern Browsers */ url('#{$weatherIconsTtf}') format('truetype'); /* Safari, Android, iOS */
}
