@font-face {
  font-family: 'weathericons';
  src: url('#{$weatherIconsEot}'); /* IE9 Compat Modes */
  src: url('#{$weatherIconsEot}?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('#{$weatherIconsWoff2}') format('woff2'),
    /* Super Modern Browsers */ url('#{$weatherIconsWoff}') format('woff'),
    /* Pretty Modern Browsers */ url('#{$weatherIconsTtf}') format('truetype'); /* Safari, Android, iOS */
}
