// Color pallete

$primary: #006e90;
$secondary: #c7e8f3;

// URL fonts

$weatherFontIconsURL: 'https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/font/';
$weatherIconsEot: '#{$weatherFontIconsURL}weathericons-regular-webfont.eot';
$weatherIconsWoff: '#{$weatherFontIconsURL}weathericons-regular-webfont.woff';
$weatherIconsWoff2: '#{$weatherFontIconsURL}weathericons-regular-webfont.woff2';
$weatherIconsTtf: '#{$weatherFontIconsURL}weathericons-regular-webfont.ttf';
